.timePeriod{
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 80px;
    position: sticky;
    width: 100%;
    margin-bottom: 50vh;
    /* top: 60vh; */
}
.timePeriod.inverted{
    flex-direction: row-reverse;
}
.timePeriod::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
}
.timePeriod > div{
    flex: 1;
    height: fit-content;
}
.timePeriod .date span{
    position: relative;
    padding: 5px 30px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--main-light-color);
    background-image: var(--main-gradient);
    color: #fff;
    /* width: 300px; */
    float: right;
    box-shadow: var(--sec-shadow);
}
.timePeriod.inverted .date span{
    background-image: var(--main-inv-gradient);
    float: left;
    border-radius: 0px 20px 20px 0px;
}
.timePeriod .date span::before{
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: #000; */
    height: 0%;
    width: 0px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color) ;
}
.timePeriod.inverted .date span::before{
    left: unset;
    right: 100%;
    border-color: transparent var(--main-color) transparent transparent;
}
.timePeriod .details{
    flex: 1;
    max-width: 50%;
}
.timePeriod .details > div{
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 0px 30px 30px;
    box-shadow: var(--sec-light-shadow);
    width: fit-content;
}
.timePeriod.inverted .details > div{
    border-radius: 30px 0px 30px 30px;
}
.timePeriod .details > div > *{
    margin-bottom: 5px;
    display: block;
}
.timePeriod.inverted .details{
    text-align: right;
}
.timePeriod .details h3{
    color: var(--main-color);
}
.timePeriod .details p{
    font-weight: bold;
}
.timePeriod .details h4{
    font-weight: normal;
}
@media (max-width: 767px) {
    .timePeriod, .timePeriod.inverted{
        flex-direction: column;
        align-items: center;
    }
    .timePeriod::before{
        top: 60px;
    }
    .timePeriod .date span,
    .timePeriod.inverted .date span{
        border-radius: 20px;
    }
    .timePeriod .date span::before{
        display: none;
    }
    .timePeriod .details,
    .timePeriod.inverted .details{
        max-width: 100%;
    }
    .timePeriod .details > div,
    .timePeriod.inverted .details > div{
        border-radius: 30px;
        text-align: center;
    }
    .timePeriod .details > div h3,
    .timePeriod.inverted .details > div h3{
        font-size: 16px;
    }
    .timePeriod .details > div h4,
    .timePeriod.inverted .details > div h4,
    .timePeriod .details > div p,
    .timePeriod.inverted .details > div p{
        font-size: 14px;
    }
}