.instructor{
    border-top: 1px solid var(--main-light-color);
    padding-top: 20px;
}
.instructor .details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.instructor .details .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 260px;
    align-items: center;
}
.instructor .details .img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border: 1px solid var(--main-light-color);
    box-shadow: var(--main-shadow);
    background-color: var(--main-color);
}
.instructor .details .img img{
    object-fit: contain;
    height: 100%;
}
.instructor .details .profile h3{
    color: var(--important-text-color);
    color: #fff !important;
    background-image: var(--main-heading-gradient);
    padding: 2px 20px;
    border-radius: 20px;
    /* margin-bottom: 10px; */
}
.instructor .details .profile span{
    font-size: 14px;
}
.instructor .details .text{
}
.instructor .details .text p{
    font-size: 14px;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    background-color: var(--features-card-bg);
    margin-bottom: 10px;
    border-radius: 30px;
    width: fit-content;
}
.instructor .details .text p span{
    padding: 5px 20px 5px 10px;
}
.instructor.ar .details .text p span{
    padding: 5px 10px 5px 20px;
}
.instructor .details .text div{
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: var(--features-card-bg);
    margin-bottom: 10px;
    border-radius: 30px;
    width: fit-content;
    /* gap: 10px; */
}
.instructor .details .text div{
}
.instructor .details .text div span{
    padding: 5px 20px 5px 10px;
}
.instructor.ar .details .text div span{
    padding: 5px 10px 5px 20px;
}
.instructor .details .text svg{
    border: 1px solid var(--main-light-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    background-image: var(--main-heading-gradient);
    color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .instructor .details{
        flex-direction: column;
        align-items: center;
    }
    .instructor .details .profile{
        width: 100%;
    }
    .instructor .details .text p,
    .instructor .details .text div{
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        background-color: transparent;
    }
    
    .instructor .details .text p span,
    .instructor .details .text div span{
        background-color: var(--features-card-bg);
        padding: 5px 20px !important;
        border-radius: 20px;
    }
}
@media (max-width: 767px) {
    .instructor .details{
        flex-direction: column;
        align-items: center;
    }
    .instructor .details .profile{
        width: 100%;
    }
    .instructor .details .text p,
    .instructor .details .text div{
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        background-color: transparent;
    }
    
    .instructor .details .text p span,
    .instructor .details .text div span{
        background-color: var(--features-card-bg);
        padding: 5px 20px !important;
        border-radius: 20px;
    }
}
