.blogCards{
    background-image: var(--overlay-gradient);
    padding-top: 100px;
    padding-bottom: 40px;
}
.blogCards > :nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,minmax(250px, 1fr));
    padding-top: 40px;
    /* padding-bottom: 40px; */
    gap: 20px;
}
.blogCards.ar{
    font-family: "Zain", sans-serif;
    direction: rtl;
}
.blogCards .moreBtn{
    width: fit-content;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
.blogCards .loadMore{
    text-align: center;
    margin-top: 40px;
}
.blogCards .loadMore button{
    padding: 10px 20px;
    border-radius: 30px;
    transition: var(--main-transition);
    border: 1px solid var(--main-color);
    box-shadow: var(--sec-shadow);
    background-color: var(--important-text-color);
    color: #fff;
}
.blogCards .loadMore button:hover,
.blogCards .loadMore button:focus,
.blogCards .loadMore button:focus-visible{
    background-color: #fff;
    color: var(--main-color);
    box-shadow: var(--main-shadow);
}
.blogCards .moreBtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.blogCards.ar .moreBtn a svg{
    transform: rotateZ(180deg);
}
.blogCards .moreBtn a:hover{
    gap: 20px;
}
@media (max-width: 992px) {
    .blogCards > :nth-child(2){
        grid-template-columns: repeat(2,minmax(250px, 1fr));
    }
}
@media (max-width: 650px) {
    .blogCards > :nth-child(2){
        grid-template-columns: repeat(1,minmax(250px, 1fr));
    }
}