.coursesCards{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../../../public/images/courses-bg.jpg");
    position: relative;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
}
.coursesCards:has(.overlay.ar) h2{
    font-family: "Zain", sans-serif;
}
.coursesCards .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    background-image: var(--overlay-gradient);
    opacity: .99;
    opacity: var(--overlay-opacity);
    z-index: -1;
}
.coursesCards > div:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(4, minmax(250px,1fr));
    gap: 50px 50px;
    margin-top: 30px;
    transition: var(--animation-transition);
    transition-delay: 0.5s;
    opacity: 0;
    transform: translateY(200px);
}
.coursesCards.scrolled > div:nth-of-type(2){
    opacity: 1;
    transform: translateY(0px);
}
.coursesCards > div:nth-of-type(2):has( > div:hover) > div img{
    filter: grayscale(100%);
}
.coursesCards > div:nth-of-type(2) > div:hover img{
    filter: grayscale(0%) !important;
}
.coursesCards.scrolled > div:nth-of-type(2) > div{
    transform: translateY(0px);
    opacity: 1;
}   
.coursesCards > span{
    display: block;
    margin-top: 30px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.coursesCards > span > a{
    box-shadow: var(--sec-light-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.coursesCards > span > a:hover{
    background-color: var(--sec-bg);
    gap: 20px;
}
.coursesCards .commingSoon{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rg;
    isolation: isolate;
    z-index: 40;
    background-color: rgb(0,0,0, 0.3);
    pointer-events: none;
    transition: var(--animation-transition);
}
.coursesCards:has(div[show-modal="true"]) .commingSoon{
    top: 50%;
    opacity: 1;
    z-index: 30;
    transform: translateX(-50%) translateY(-50%);
}
.coursesCards .commingSoon > div{
    background-image: var(--main-heading-gradient);
    font-size: 30px;
    border-radius: 30px;
    color: #fff;
    box-shadow: var(--main-light-shadow);
    text-align: center;
    width: 300px;
    max-width: 95%;
    height: 60px;
    overflow: hidden;
    transition: var(--animation-transition);
    z-index: 40;
    position: relative;
}
@media (max-width: 650px) {
    .coursesCards .commingSoon > div{
        /* font-size: 20px; */
        /* width: 300px; */
        max-width: 95%;
        /* height: 40px; */
    }
}
.coursesCards .commingSoon > div p{
    position: absolute;
    left: 50%;
    width: 100%;
    transition: var(--animation-transition);
    transform: translateX(-50%) translateY(-50%);
}
.coursesCards .commingSoon > div p:first-of-type{
    transition-delay: 0.5s;
    top: 50%;
}
.coursesCards .commingSoon > div p:last-of-type{
    top: 150%;
    transition-delay: 0.5s;
    opacity: 0;
}
.coursesCards:has(div[show-modal="true"]) .commingSoon > div p:first-of-type{
    opacity: 0;
    transition-delay: 1.3s;
    top: -150%;
}
.coursesCards:has(div[show-modal="true"]) .commingSoon > div p:last-of-type{
    transition-delay: 1.3s;
    opacity: 1;
    top: 50%;
}
@media (max-width: 1250px) {
    .coursesCards > div:nth-of-type(2){
        grid-template-columns: repeat(3, minmax(250px,1fr));
    }
}
@media (max-width: 992px) {
    .coursesCards > div:nth-of-type(2){
        grid-template-columns: repeat(2, minmax(250px,1fr));
    }
}
@media (max-width: 650px) {
    .coursesCards > div:nth-of-type(2){
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }
}