.enroll{
    padding-top: 20px;
    border-top: 1px solid var(--main-light-color);
}
.enroll h2{
    margin-right: auto;
    margin-left: auto;
}
.enroll > p span{
    font-weight: bold;
    color: var(--important-text-color);
    text-transform: uppercase;
    font-size: 18px;
}
.enroll.ar > p span{
    font-size: 20px;
}
.enroll > p{
    margin-bottom: 20px;    
}
.enroll ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.enroll ul li{
    display: flex;
    align-items: center;
    background-color: var(--features-card-bg);
    margin-bottom: 20px;
    border-radius: 30px;
}
.enroll ul li > span{
    background-image: var(--main-heading-gradient);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
}
.enroll ul li p{
    padding: 5px 20px 5px 10px;
    width: calc(100% - 70px);
}
.enroll.ar ul li p{
    padding: 5px 10px 5px 20px;
    font-size: 18px;
}
.enroll ul li p span{
    font-weight: bold;
    color: var(--important-text-color);
}
.enroll ul li p a{
    color: var(--important-text-color);
    text-decoration: underline;
    font-weight: bold;
}
.enroll ul li p a:hover{
    color: var(--main-light-color);
}
.enroll.paid form{
    background-image: var(--hero-gradient);
    border: 2px solid var(--main-light-color);
    padding: 20px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: var(--main-shadow);
    padding-bottom: 100px;

}
.enroll.paid form h3{
    text-align: center;
    font-size: 26px;
    color: #fff;
}
.enroll.paid form > div{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.enroll.paid form label{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.enroll.paid form label svg{
    font-size: 20px;
}
.enroll.paid .notValid{
    color: #fff;
    background-image: var(--main-heading-gradient-cat);
    text-align: center;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: var(--not-valid-shadow);
}
@media (max-width: 650px) {
    .enroll.paid form h3{
        font-size: 22px;
    }
    .enroll.paid form > div{
        width: 100%;
    }
    .enroll.paid form label svg{
        font-size: 16px;
    }
}
.enroll.paid form input{
    background-color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--main-light-color);
    color: var(--text-color);
}

.enroll.paid form input:focus,
.enroll.paid form input:focus-visible{
    outline: 2px solid var(--main-light-color);
}
.enroll.paid form > button{
    background-color: var(--text-color);
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid var(--main-light-color);
    color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    transition: var(--main-transition);
}
.enroll.paid form > button:focus,
.enroll.paid form > button:focus-visible,
.enroll.paid form > button:hover{
    color: #fff;
    background-color: var(--main-light-color);
    box-shadow: var(--main-shadow);
}
.enroll.paid .phone{
    display: flex;
    align-items: center;
}
.enroll.paid .phone input{
    flex: 1;
    border-radius: 0px 20px 20px 0px;
    padding: 11px 10px;
}
.enroll.paid ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}
.enroll.paid ul li {
    flex: 1;
    height: 150px;
    color: var(--text-color);
    /* padding: 0; */
    margin-bottom: 0 !important;
    border-radius: 10px;
    /* width: calc((100% - 120px) / 2);  */
    /* overflow: hidden; */
}
.enroll.paid .paymentInfo .loading {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    animation: loading-rotate 1s linear infinite;
}
@keyframes loading-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.enroll.paid .paymentInfo a{
    background-color: var(--main-light-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.enroll.paid .paymentInfo p{
    padding: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.enroll.paid .paymentInfo p span{
    color: var(--main-light-color);
}
@media (max-width: 650px) {
    .enroll.paid ul{
        gap: 10px;
        width: 100% !important;
    } 
    .enroll.paid ul li{
        width: calc((100% - 20px) / 3); 
    }
}
.enroll.paid ul li button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    padding: 30px 20px;     
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    color: var(--text-color);
    color: #fff;
    background-color: transparent;
    border: 1px solid var(--main-light-color);
}
.enroll.paid ul li button:hover{
    background-color: var(--main-light-color);
    box-shadow: var(--main-shadow);
}
.enroll.paid ul li button span{
    /* color: var(--text-color); */
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.enroll.paid ul li button span:has(img){
}
.enroll.paid ul li button h4{
    /* color: var(--text-color); */
    transition: var(--main-transition);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.enroll.paid ul li button img{
    width: 70%;
    object-fit: contain;
}
.enroll.paid ul li button svg{
    height: 100%;
    width: 100%;
}
.enroll > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.enroll > div > a{
    /* background-color: #ff0033; */
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    transition: var(--main-transition);
}
.enroll.ar > div > a{
    font-size: 18px;
}
.enroll > div > a.youtube{
    border: 1px solid #ff0033;
}
.enroll > div > a.email{
    border: 1px solid #3e65cf;
}
.enroll > div > a.whatsapp{
    border: 1px solid #128c7e;
}
.enroll > div > a svg{
    font-size: 30px;
    transition: var(--main-transition);
}
.enroll > div > a.youtube svg{
    /* border: 1px solid #ff0033; */
    color: #ff0033;
}
.enroll > div > a.email svg{
    /* border: 1px solid #ff0033; */
    color: #3e65cf;
}
.enroll > div > a.whatsapp svg{
    /* border: 1px solid #ff0033; */
    color: #128c7e;
}
.enroll > div > a span{
    transition: var(--main-transition);
    font-size: 20px;
}
.enroll > div > a:hover{
    color: #fff;
}
.enroll > div > a.youtube:hover{
    background-color: #ff0033;
    box-shadow: 0px 0px 8px 5px #ff1e4b;
}
.enroll > div > a.email:hover{
    background-color: #3e65cf;
    box-shadow: 0px 0px 8px 5px #6589ea;
}
.enroll > div > a.whatsapp:hover{
    background-color: #128c7e;
    box-shadow: 0px 0px 8px 5px #31d2bf;
}
.enroll > div > a:hover svg{
    color: #fff;
}
.enroll > div > a:hover span{
    color: #fff;
}
