.publicationsCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.publicationsCard:not(:last-of-type){
    border-bottom: 1px solid var(--icon-color);
}
.publicationsCard.inverted{
    flex-direction: row-reverse;
}
.publicationsCard > div:first-of-type{ /* img div */
    aspect-ratio: 3/4;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--sec-light-shadow);
    transition: var(--animation-transition);
    width: 260px;
    transform: translateX(200%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.publicationsCard.inverted > div:first-of-type{
    transform: translateX(-200%);
}
.publicationsCard > div:first-of-type img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.publicationsCard.scrolled > div:first-of-type{
    transform: translateX(0%);
    width: 15%;
}
.publicationsCard > div:nth-of-type(2){
    transition-delay: 0.2s;
    transition: var(--animation-transition), opacity 0.8s 0.3s;
    opacity: 0;
    transform: translateY(100px);
    width: 75%;
}
.publicationsCard.inverted > div:nth-of-type(2){
    /* transform: translateY(100px); */
}
.publicationsCard.scrolled > div:nth-of-type(2){
    opacity: 1;
    transform: translateY(0px);
}
.publicationsCard > div:nth-of-type(2) h4{
    color: var(--important-text-color);
    margin-bottom: 5px;
    font-size: 20px;
}
.publicationsCard > div:nth-of-type(2) p{
    font-size: 14px;
}
.publicationsCard > div:nth-of-type(2) span{
    font-size: 12px;
    font-style: italic;
}
.publicationsCard > div:nth-of-type(2) div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #000;
    width: fit-content;
    transition: var(--main-transition);
}
.publicationsCard > div:nth-of-type(2) div:hover{
    border: 1px solid var(--important-text-color);
}
.publicationsCard > div:nth-of-type(2) button{
    padding: 5px 15px;
    text-align: center;
    transition: var(--main-transition);
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}
.publicationsCard > div:nth-of-type(2) button:first-of-type{
    border-right: 1px solid #000;
}
.publicationsCard > div:nth-of-type(2) button:hover,
.publicationsCard > div:nth-of-type(2) button:focus,
.publicationsCard > div:nth-of-type(2) button:focus-visible,
.publicationsCard > div:nth-of-type(2) button:active{
    background-color: var(--important-text-color);
    color: #fff;
}
@media (max-width: 1200px) {
    .publicationsCard.scrolled > div:first-of-type{
        transform: translateX(0%);
        width: 25%;
    }
}
@media (max-width: 992px) {
    .publicationsCard.scrolled > div:first-of-type{
        transform: translateX(0%);
        width: 35%;
    }
}
@media (max-width: 767px) {
    .publicationsCard, .publicationsCard.inverted{
        flex-direction: column;
    }
    .publicationsCard div:first-of-type, .publicationsCard.inverted div:first-of-type{
        transform: translateX(0px) !important;
    }
    .publicationsCard > div:nth-of-type(2){
        text-align: center;
        width: 100%;
    }
    .publicationsCard > div:nth-of-type(2) h4{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .publicationsCard > div:nth-of-type(2) div{
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .publicationsCard.scrolled > div:first-of-type{
        width: 200px;
    }
}
@media (max-width: 600px) {
    .publicationsCard, .publicationsCard.inverted{
        gap: 30px;
        width: 100%;
    }
    .publicationsCard > div:nth-of-type(2){
        width: 100%;
    }
}