.course{
    padding-top: 100px;
    background-image: var(--overlay-gradient);
}
.course h2:empty{
    display: none;
}
.course:has(.welcomeAr){
    direction: rtl;
    font-family: "Zain", sans-serif;
}
.course > div:nth-child(2){
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.course > div:nth-child(2) > div{
    flex: 1;
}
.course > div:nth-child(2) .fixed{
    position: sticky;
    top: 100px;
    left: 0;
    height: calc((100dvh - 100px));
    transition: var(--animation-transition);
    transform: translate(10px, 50px);
    opacity: 0;
}
.course.loaded > div:nth-child(2) .fixed{
    transform: translate(0px,0px);
    opacity: 1;
}
.course .img{
    max-height: calc(100% / 2);
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--card-hover-shadow);
    border: 1px solid var(--main-light-color);
    /* position: sticky;
    top: 0;
    left: 0; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course .img img{
    object-fit: cover;
    height: 100%;
    max-width: unset;
    width: 100%;
}
.course > div:nth-child(2) .fixed > div .basicUl{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    max-height: calc(100% / 5);
}
.course.ar > div:nth-child(2) .fixed > div .basicUl{
}
.course > div:nth-child(2) .fixed > div .basicUl li{
    width: calc(100% / 4);
    text-align: center;
}
.course > div:nth-child(2) .fixed > div .basicUl li:not(:last-child){
    border-right: 1px solid var(--icon-color);
}
.course.ar > div:nth-child(2) .fixed > div .basicUl li:not(:last-child){
    border-right: none;
    border-left: 1px solid var(--icon-color);
}
.course > div:nth-child(2) .fixed > div .basicUl li span{
    font-size: 30px;
}
.course > div:nth-child(2) .fixed > div .basicUl li h5{
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .course > div:nth-child(2) .fixed .img {
        height: 300px;
    }
    .course > div:nth-child(2) .fixed > div .basicUl{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li{
        width: calc(100% / 2);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(1),
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-bottom: 1px solid var(--icon-color);
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-right: none;
    }
}
@media (max-width: 992px) {
    .course > div:nth-child(2){
        flex-direction: column-reverse;
    }
    .course > div:nth-child(2) .fixed{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        border-bottom: 1px solid var(--main-light-color);
        top: 0;
        padding-bottom: 50px;
        width: 100%;
        transform: translate(0px, 100px);
    }
    .course > div:nth-child(2) .fixed > div .basicUl li{
        width: calc(100% / 4);
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(1),
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-right: none;
        border-bottom: none;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-right: none;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:not(:last-child){
        border-right: none;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:not(:last-child){
        border-right: 1px solid var(--icon-color);
    }
    .course .img{
        height: 400px;
        max-height: unset;
    }
}
@media (max-width: 767px) {
    .course > div:nth-child(2) .fixed{
        min-height: unset;
        height: fit-content;
        padding-bottom: 80px;
    }
}
@media (max-width: 600px) {
    .course > div:nth-child(2) .fixed > div .basicUl li{
        width: calc(100% / 2);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(1),
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-bottom: 1px solid var(--icon-color);
    }
    .course > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-right: none;
    }
    .course.ar > div:nth-child(2) .fixed > div .basicUl li:nth-child(2){
        border-left: none;
    }
}
.course > div:nth-child(2) .scroll{
    transition: var(--animation-transition);
    transform: translate(-10px, 50px);
    opacity: 0;
    max-width: 50%;
}
.course.loaded > div:nth-child(2) .scroll{
    transform: translate(0px,0px);
    opacity: 1;
}
@media (max-width: 992px) {
    .course > div:nth-child(2) .scroll{
        transform: translate(-0px, 100px);
        max-width: 100%;
    }
}
.course > div:nth-child(2) .scroll > div{
    margin-bottom: 20px;
}
.course > div:nth-child(2) .scroll > div h2{
    margin-bottom: 16px;
    background-image: var(--main-heading-gradient);
    width: fit-content;
    padding: 2px 20px;
    border-radius: 20px;
    color: #fff;
    margin-top: 40px;
    font-size: 20px;
}
.course > div:nth-child(2) .scroll .description h2{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.course > div:nth-child(2) .scroll > div h3{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--text-color);
    color: var(--bg-color);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.course > div:nth-child(2) .scroll .mappedDiv{
    border-bottom: 1px solid var(--main-light-color);
}
.course > div:nth-child(2) .scroll  ul{
    /* font-size: 14px; */
}
.course > div:nth-child(2) .scroll  ul li{
    margin-bottom: 10px;
    line-height: 1.6;
}
.course > div:nth-child(2) .scroll .mappedDiv ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.course > div:nth-child(2) .scroll .mappedDiv ul li span{
    color: #fff;
    background-image: var(--main-heading-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.course > div:nth-child(2) .scroll  ul li:last-child{
}
.course > div:nth-child(2) .scroll p{
    line-height: 1.8;
}
.course li.prohibited{
    background-image: var(--main-heading-gradient-cat) ;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
}
.course > div:nth-child(2) .more{
    /* list-style: disc !important */
    counter-reset: more-counter;
}
.course > div:nth-child(2) .more li{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    counter-increment: more-counter;
    position: relative;
    padding-left: 35px;
    padding-right: 1px;
    padding: 5px 5px 5px 35px;
    background-color: var(--text-color);
    background-color: #fff;
    color: var(--bg-color);
    color: #000;
    border-radius: 10px 0px 0px 10px;
}
.course.ar > div:nth-child(2) .more li{
    padding: 5px 35px 5px 5px;
    border-radius: 0px 10px 10px 0px;
}
.course > div:nth-child(2) .more li::before{
    content: "" counter(more-counter) " ";
    content: "✶";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.course.ar > div:nth-child(2) .more li::before{
    left: unset;
    right: 15px;
    top: 50%;
    transform: translate(50%, -50%);
}
.course > div:nth-child(2) .more li span{
    font-weight: bold;
    font-size: 18px;
}

.course > div:nth-child(2) .scroll > div .content{
    margin-left: 20px;
    list-style: none;
    counter-reset: content-counter;
}
@media (max-width: 767px) {
    .course > div:nth-child(2) .scroll > div .content{
        margin-left: 40px;
    }
    .course.ar > div:nth-child(2) .scroll > div .content{
        margin-right: 40px;
        margin-left: unset;
    }
}
.course > div:nth-child(2) .scroll > div  h2.contentH2{
    text-align: center;
    font-size: 30px;
    width: 100%;
    border-radius: 40px;
}
.course > div:nth-child(2) .scroll > div .content > li{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--main-light-color);
    counter-increment: content-counter;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}
.course > div:nth-child(2) .scroll > div .content > li::before{
    content: "" counter(content-counter) " ";
    position: absolute;
    right: calc(100% + 8px);
    top: 0px;
    /* background-color: red; */
    color: #fff;
    background-image: var(--main-heading-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.course > div:nth-child(2) .scroll > div .content > li:first-child:last-child::before{
    display: none;
}
.course > div:nth-child(2) .scroll > div .content > li button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
    color: var(--text-color);
    font-family: inherit;
    /* font-weight: bold; */
    font-size: 18px;
    text-align: left;
    /* width: 100%; */
    flex-grow: 1;
    margin-bottom: 10px;
}
.course > div:nth-child(2) .scroll > div .content > li button.ar{
    text-align: right;
}
.course > div:nth-child(2) .scroll > div .content > li:has(button.ar)::before{
    right: unset;
    left: calc(100% + 8px);
}
.course > div:nth-child(2) .scroll > div .content > li button p{
    flex: 1;
}
.course > div:nth-child(2) .scroll > div .content strong{
    font-weight: 600;
}
.course > div:nth-child(2) .scroll > div .content > li button svg{
    cursor: pointer;
    font-size: 20px;
    transition: var(--animation-transition);
    pointer-events: none;
    /* background-image: var(--main-heading-gradient); */
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 20px; */
    /* height: 20px; */
    padding: 3px;
    border-radius: 50%;
}
.course > div:nth-child(2) .scroll > div .content > li button *{
    pointer-events: none;
}
.course > div:nth-child(2) .scroll > div .content > li button svg *{
}
.course > div:nth-child(2) .scroll > div .content li:has(.clicked) svg{
    transform: rotateZ(-180deg);
}
.course > div:nth-child(2) .scroll > div .content > li ul{
    font-size: 16px;
    font-weight: normal;
    /* margin-top: 10px; */
    /* transition: var(--main-transition); */
    /* transition-duration: 0.4s; */
        transition: var(--main-transition);

    background-color: var(--features-card-bg);
    border-radius: 0px 20px 20px 20px;
    padding: 0px 20px;
}
.course > div:nth-child(2) .scroll > div .content li:has(.clicked) ul{
    padding: 10px 20px;
    /* max-height: 1500px; */
    margin-bottom: 20px;
    /* transition: var(--animation-transition); */
    /* transition-duration: 1s !important; */
    /* transition-duration: 0.8s; */
}
.course > div:nth-child(2) .scroll > div .content > li ul li{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: var(--main-transition);
    transition-duration: 0.4s;
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.6;
}
.course > div:nth-child(2) .scroll > div .content li:has(.clicked) ul li{
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 300px;
}
/* .course > div:nth-child(2) .scroll > div .content > li ul li:not(:last-child){
    border-bottom: 1px solid transparent;
} */
.course > div:nth-child(2) .scroll > div .content > li:has(.clicked) ul li:not(:last-child){
    border-bottom: 1px solid var(--text-color);
}
@media (max-width: 767px) {
    .course > div:nth-child(2) .scroll > div .content > li button{
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .course > div:nth-child(2) .more li span{
        font-size: 16px;
    }
    .course > div:nth-child(2) .scroll > div h2{
        font-size: 22px;
    }
    .course > div:nth-child(2) .scroll p{
        font-size: 14px;
        line-height: 1.8;
    }
    .course > div:nth-child(2) .scroll > div .content > li button{
        font-size: 18px;
    }
}

.enroll > a{
    /* background-color: #ff0033; */
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    transition: var(--main-transition);
    border: 1px solid var(--important-text-color);

}
.enroll > a.youtube{
    border: 1px solid #ff0033;
}
.enroll > a svg{
    font-size: 30px;
    transition: var(--main-transition);
    color: var(--important-text-color);
}
.enroll > a.youtube svg{
    color: #ff0033;
}
.enroll > a span{
    transition: var(--main-transition);
    font-size: 20px;
}
.enroll > a:hover{
    background-color: var(--important-text-color);
    box-shadow: 0px 0px 10px 3px var(--important-text-color);
    color: #fff;
}
.enroll > a.youtube:hover{
    background-color: #ff0033;
    box-shadow: 0px 0px 8px 5px #ff1e4b;
}
.enroll > a:hover svg{
    color: #fff;
}
.enroll > a:hover span{
    color: #fff;
}
.course .partDetails{
    background-color: var(--text-color);
    width: fit-content;
    color: var(--bg-color);
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course .partDetails span{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.course .partDetails span:not(:last-of-type){
    border-right: 1px solid var(--bg-color);
}
.course .partDetails span a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.course .partDetails span svg{
    font-size: 24px;
    color: #ff0033;
}
@media (max-width: 767px) {
    .course > div:nth-child(2) .scroll > div h2{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .course .partDetails{
        margin-right: auto;
        margin-left: auto;
    }
    .course .partDetails span{
        font-size: 12px;
    }
}