.timeline{
    background-image: url("../../../public/images/edu-bg.jpg");
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    isolation: isolate;
    padding-bottom: 100px;
}
.timeline .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0.9;
    z-index: -1;
}
.timeline .part{
    min-height: 100vh;
    padding-top: 100px;
    position: relative;
}
.timeline .part::before{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 2px;
    height: calc(100% - 100px);
    background-color: var(--main-color);
    z-index: -1;
}
.timeline h2{
    text-align: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    border-radius: 40px 0px;
    /* background-image: var(--main-gradient); */
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 40px;
    box-shadow: var(--sec-shadow);
}
.timeline .part .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
    min-height: calc(100vh - 100px - 54px);
}