.footer{
    background-color: var(--main-color);
    color: #fff;
    background-image: var(--hero-gradient);
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.footer > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0.2;
}
.footer > span a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer > span a span{
    font-size: 100px;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}
.footer > span a span:nth-child(1){
    color: #fff;
}
.footer > span a span:nth-child(2){
    color: var(--main-light-color);
    font-size: 50px;
}
.footer > div:first-of-type{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.footer > div h4{
    color: #fff;
    margin-bottom: 10px;
}
.footer > div:first-of-type > div{
    width: calc(100% / 3);
}
@media (max-width: 600px) {
    .footer > div:first-of-type > div{
        text-align: center;
    }
}
/* .footer > div:first-of-type > div div{
    margin-top: 10px;
} */
.footer > div:first-of-type > div:first-of-type div{
    display: flex;
    flex-direction: column;
}
.footer > div div a{
    color:#fff;
}
.footer > div div a:hover{
    color: var(--main-light-color);
    text-decoration: underline;
} 

.footer > div:first-of-type > div:not(:has(.socials)) > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer > div:first-of-type > div > div > div{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 10px;
}
@media (max-width: 600px) {
    .footer > div:first-of-type > div > div > div{
       flex-direction: column;
       gap: 10px;
       margin-bottom: 20px;
    }
}
.footer > div:first-of-type > div > div > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
.footer > div:first-of-type > div > div > div{
    padding: 0;
}
.footer > div:first-of-type > div > div > div a{
    text-decoration: underline;
}
.footer .socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
    font-size: 20px;
}
.footer .socials a{
    background-color: #fff;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: var(--main-transition);
}
@media (max-width: 600px) {
    .footer .socials{
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
}
.footer .socials a:hover{
    background-color: var(--main-light-color);
    color: #fff;
    box-shadow: var(--main-shadow);
}
.footer .copyright{
    border-top: 1px solid var(--main-light-color);
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
.footer .copyright a{
    color: var(--main-light-color);
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}