
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root:not(:has(#light)){
    /* dark */
  --main-color: #000421;
  --text-color: #fff;
  --main-light-color: #415ede;
  --important-text-color: var(--main-light-color);
  --main-card-animation-color: #2d53ff6e;
  --card-hover-shadow: 0px 5px 10px -3px var(--main-card-animation-color);
  --card-bg-semi-trans: #0004213b;
  --features-card-bg: #415ede2d;
  --overlay-bg: #000215;
  --main-heading-bg: #415ede;
  --main-heading-light-bg: #7186e0;
  --main-heading-text: #fff;
  --main-gradient: linear-gradient(-45deg, var(--main-color) 50%, var(--main-light-color));
  --main-inv-gradient: linear-gradient(45deg, var(--main-color) 50%, var(--main-light-color));
  --hero-gradient: linear-gradient(to left,#000 , var(--main-color), #000);
  --hero-span-gradient: linear-gradient(to left, var(--main-light-color) , #7186e0,  var(--main-light-color));
  --overlay-gradient: linear-gradient(to left,#000 , var(--main-color), #000);
  --card-gradient: linear-gradient(to left,#000 0%, var(--main-light-color) 50%, #000);
  --main-heading-gradient: linear-gradient(to left, var(--main-heading-bg) , var(--main-heading-light-bg),  var(--main-heading-bg));
  --main-heading-gradient-cat: linear-gradient(to left,rgb(177, 0, 0) , rgb(203, 65, 65), rgb(177, 0, 0));
  --bg-color: #000421;
  --sec-bg: #fff;
  --main-shadow: 0 .5rem 20px -5px var(--main-light-color);
  --sec-shadow: 0 10px 10px -5px #212438;
  --section-shadow: 0 -10px 10px -5px #212438;
  --sec-light-shadow: 0 10px 10px -5px #121423;
  --header-shadow: 0 -0.5rem 1rem var(--main-light-color);
  --icon-color: #aaa;
  --overlay-opacity: 0.97;
  /* transitions */
  --main-transition: all 0.2s 0s linear;
  --animation-transition: all 0.8s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
:root:has(#light){
  /* light */
  --main-color: #000421;
  --text-color: #000;
  --main-light-color: #415ede;
  --important-text-color: var(--main-color);
  --main-card-animation-color: #415ede;
  --card-hover-shadow: 0px 5px 10px -3px var(--main-card-animation-color);
  --card-bg-semi-trans: #eaeaeac2;
  --features-card-bg: rgba(8, 7, 7, 0.2);
  --overlay-bg: #eaeaea;
  --main-heading-bg: #000421;
  --main-heading-light-bg: #171d48;
  --main-heading-text: #ffffff;
  --main-gradient: linear-gradient(-45deg, var(--main-color) 50%, var(--main-light-color));
  --main-inv-gradient: linear-gradient(45deg, var(--main-color) 50%, var(--main-light-color));
  --hero-gradient: linear-gradient(to left,#000 , var(--main-color), #000);
  --hero-span-gradient: linear-gradient(to left, var(--main-light-color) , #7186e0,  var(--main-light-color));
  --card-gradient: linear-gradient(to left,#000 0%, var(--main-light-color) 50%, #000);
  --overlay-gradient: linear-gradient(to right,#eaeaea  0% , #eaeaea 50%, #eaeaea  120%);
  --main-heading-gradient: linear-gradient(to left, var(--main-heading-bg) , var(--main-heading-light-bg),  var(--main-heading-bg));
  --main-heading-gradient-cat: linear-gradient(to left,rgb(177, 0, 0) , rgb(203, 65, 65), rgb(177, 0, 0));
  --bg-color: #eaeaea;
  --sec-bg: #fff;
  --main-shadow: 0 .5rem 20px -5px var(--main-light-color);
  --sec-shadow: 0 10px 20px -5px #333;
  --section-shadow: 0 -10px 20px -5px #acb2d9;
  --sec-light-shadow: 0 10px 20px -5px #888;
  --header-shadow: 0 -0.5rem 2rem var(--main-color);
  --icon-color: #aaa;
  --overlay-opacity: 0.95;
  /* transitions */
  --main-transition: all 0.2s 0s linear;
  --animation-transition: all 0.8s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
::selection{
  background-color: var(--main-light-color);
  color: #fff;
}
:root:has(#light) ::selection{
  background-color: var(--main-color);
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "poppins", sans-serif;
}
ul{
  list-style: none;
}
img, video{
  max-width: 100%;
}
button, button:focus, button:focus-visible, button:active{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
a{
  text-decoration: none;
  color: unset;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
}
body:has(.loaded)::-webkit-scrollbar{
  background-color: var(--bg-color);
}
body:has(.loaded)::-webkit-scrollbar-thumb{
  background-color: var(--important-text-color);
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 767px) {
  .container{
    width: 850px;
    max-width: 95%;
  }
}
@media (min-width: 992px) {
  .container{
    width: 992px;
    max-width: 95%;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1400px;
    max-width: 95%;
  }
}
section{
  border-top: 1px solid var(--main-light-color);
  box-shadow: var(--section-shadow);
}