.stats{
    display: flex;
    justify-content: center;
    border-radius: 80px;
    overflow: hidden;
    background-image: var(--hero-gradient);
    box-shadow: var(--main-shadow);
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid var(--main-light-color);
    transition: var(--animation-transition);
    transition-duration: 1s;
    transition-delay: 1s;
    width: 100%;
    /* opacity: 0; */
    flex-wrap: wrap;
    max-height: 0px;
}
.stats.loaded{
    opacity: 1;
    max-height: 400px;
}
.stats .box{
    /* background-color: #fff; */
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    text-wrap: nowrap;
    transition: var(--animation-transition);
    opacity: 0;
    transform: translateY(100%);
}
.stats .box:nth-child(1){
    transition-delay: 1.2s;
}
.stats .box:nth-child(2){
    transition-delay: 1.3s;
}
.stats .box:nth-child(3){
    transition-delay: 1.4s;
}
.stats .box:nth-child(4){
    transition-delay: 1.5s;
}
.stats .box:nth-child(5){
    transition-delay: 1.6s;
}
.stats.loaded .box{
    transform: translateY(0%);
    opacity: 1;
}
/* .stats .box:first-child{
    padding-left: 40px;
}
.stats .box:last-child{
    padding-right: 40px;
} */
.stats .box h4{
    font-size: 20px;
    color: var(--main-light-color);
}
.stats .box span{
    font-size: 30px;
}
.stats .box p{
    font-size: 12px;
        text-align: center;
}
@media (max-width: 767px) {
    .stats{
        padding-left: 0;
        padding-right: 0;
        border-radius: 20px;
    }
    .stats .box{
        padding: 10px 10px;
        width: calc(100% / 3);
    }
}