.nav{
    color: #000;
    color: #fff;
}
.nav.ar{
    font-size: 18px;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.nav:not(.ar) ul li:not(:first-child){
    /* border-left: 1px solid black; */
}
.nav.ar ul li:not(:last-child){
    /* border-left: 1px solid black; */
}
.nav a{
    transition: var(--main-transition);
    padding: 5px 20px;
    border-radius: 20px 0px;
    position: relative;
    overflow: hidden;
}
.nav a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-image: var(--main-gradient);
    border-radius: 20px 0px;
    z-index: -1;
    transition: var(--main-transition);
    transition-duration: 0.2s;
}
.nav a:hover::before, 
.nav a:focus::before, 
.nav a:focus-visible::before, 
.nav a.active::before{
    /* background-color: var(--main-color); */
    left: unset;
    right: 0;
    width: 100%;
    color: #fff;
}
.nav a:hover, 
.nav a:focus, 
.nav a:focus-visible, 
.nav a.active{
    box-shadow: var(--main-shadow);
    color: #fff;
}
.nav > div{
    display: none;
}
.nav button{
    display: none;
}
@media (max-width: 992px) {
    .nav{
        font-size: 12px;
    }
    .nav:not(.ar) ul{
        gap: 0;
    }
    .nav.ar{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .nav{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 0dvh;
        overflow: hidden;
        /* width: 300px; */
        text-align: center;
        background-color: var(--bg-color);
        color: var(--text-color);
        border-left: 1px solid var(--main-light-color);
        transition: var(--animation-transition);
        transition-duration: 0.5s;
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav.ar{
        
        border-right: 1px solid var(--main-light-color);
        border-left: none;
    }
    .nav.shown,
    .nav:has(ul.shown){
        height: 100dvh;
    }
    .nav ul{
        flex-direction: column;
        /* background-color: var(--overlay-bg); */
        width: 100%;
        border-radius: 0px;
        border-top: 1px solid var(--main-light-color);
        overflow: hidden;
        border: none;
    }
    .nav ul li{
        width: 100%;
        border-radius: 0px;
    }
    .nav ul li a{ 
        padding: 10px;
        background-color: transparent;
        display: block;
        border-radius: 0px;
        border-bottom: 1px solid var(--main-light-color);
        isolation: isolate;
        border: none;
        font-size: 30px;
        opacity: 0;
        transition: var(--animation-transition);
        transform: translateY(300px);
    }
    .nav ul li:nth-child(2) a{ 
        transform: translateY(500px);
    }
    .nav ul li:nth-child(3) a{ 
        transform: translateY(800px);
    }
    .nav ul li:nth-child(4) a{ 
        transform: translateY(1000px);
    }
    .nav ul li:nth-child(5) a{ 
        transform: translateY(1200px);
    }
    .nav.shown ul li a,
    .nav:has(ul.shown) ul li a{
        opacity: 1;
        transform: translateY(0px);
    }
    .nav a::before{
        width: 100%;
        opacity: 0;
        border-radius: 0px;
        background-image: var(--hero-gradient);
    }
    .nav a:hover::before, 
    .nav a:focus::before, 
    .nav a:focus-visible::before, 
    .nav a.active::before{
       opacity: 0;
    }
    .nav a:hover, 
    .nav a:focus, 
    .nav a:focus-visible, 
    .nav a.active{
        color: var(--main-light-color);
        font-weight: bold;
        transition-delay: 0s !important;
    }
    .nav a:hover, 
    .nav a:focus, 
    .nav a:focus-visible, 
    .nav a.active{
       box-shadow: none;
    }
    .nav button{
        display: unset;
        position: absolute;
        top: 30px;
        left: 30px;
        /* background-image: var(--main-heading-gradient); */
        color: #fff;
        padding: 2px 10px;
        border-radius: 0px 6px 6px 0px;
        color: var(--text-color);
        font-size: 40px;
        opacity: 0;
        transition-delay: 0.2s;
    }
    .nav.ar button{
        left: unset;
        right: 30px;
        border-radius: 6px 0px 0px 6px;
    }
    .nav.shown button,
    .nav:has(ul.shown) button{
        transition: var(--animation-transition);
        transition-delay: 0.6s;
        opacity: 1;
    }
    .nav .langSwitch{
        background-color: red;
    }
    .nav .langSwitch button{
        display: flex !important;
    }
}