.nav{
    color: #000;
    color: #fff;
}
.nav.ar{
    font-size: 18px;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.nav:not(.ar) ul li:not(:first-child){
    /* border-left: 1px solid black; */
}
.nav.ar ul li:not(:last-child){
    /* border-left: 1px solid black; */
}
.nav a{
    transition: var(--main-transition);
    padding: 5px 20px;
    border-radius: 20px 0px;
    position: relative;
    overflow: hidden;
}
.nav a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-image: var(--main-gradient);
    border-radius: 20px 0px;
    z-index: -1;
    transition: var(--main-transition);
    transition-duration: 0.2s;
}
.nav a:hover::before, 
.nav a:focus::before, 
.nav a:focus-visible::before, 
.nav a.active::before{
    /* background-color: var(--main-color); */
    left: unset;
    right: 0;
    width: 100%;
    color: #fff;
}
.nav a:hover, 
.nav a:focus, 
.nav a:focus-visible, 
.nav a.active{
    box-shadow: var(--main-shadow);
    color: #fff;
}
.nav > div{
    display: none;
}
.nav button{
    display: none;
}
@media (max-width: 992px) {
    .nav{
        font-size: 12px;
    }
    .nav:not(.ar) ul{
        gap: 0;
    }
    .nav.ar{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .nav{
        position: fixed;
        right: 0;
        top: 0px;
        transform: translateX(110%);
        width: 300px;
        max-width: 50%;
        height: 100dvh;
        /* width: 300px; */
        text-align: center;
        background-color: var(--bg-color);
        color: var(--text-color);
        border-left: 1px solid var(--main-light-color);
        padding-top: 80px;
        transition: var(--animation-transition);
        transition-duration: 0.5s;
        z-index: 6;
    }
    .nav.ar{
        left: 0;
        right: unset;
        transform: translateX(-110%);
        border-right: 1px solid var(--main-light-color);
        border-left: none;
    }
    .nav.shown,
    .nav:has(ul.shown){
        transform: translateX(0%);
    }
    .nav ul{
        flex-direction: column;
        /* background-color: var(--overlay-bg); */
        width: 100%;
        border-radius: 0px;
        border-top: 1px solid var(--main-light-color);
        overflow: hidden;
    }
    .nav ul li{
        width: 100%;
        border-radius: 0px;
    }
    .nav ul li a{ 
        padding: 10px;
        background-color: transparent;
        display: block;
        border-radius: 0px;
        border-bottom: 1px solid var(--main-light-color);
        isolation: isolate;
    }
    .nav a::before{
        width: 100%;
        opacity: 0;
        border-radius: 0px;
        background-image: var(--hero-gradient);
    }
    .nav a:hover::before, 
    .nav a:focus::before, 
    .nav a:focus-visible::before, 
    .nav a.active::before{
       opacity: 1;
    }
    .nav a:hover, 
    .nav a:focus, 
    .nav a:focus-visible, 
    .nav a.active{
       box-shadow: none;
    }
    .nav button{
        display: unset;
        position: absolute;
        top: 20px;
        left: 0px;
        background-image: var(--main-heading-gradient);
        color: #fff;
        padding: 2px 10px;
        border-radius: 0px 6px 6px 0px;
        font-size: 18px;
    }
    .nav.ar button{
        left: unset;
        right: 0px;
        border-radius: 6px 0px 0px 6px;
    }
    .nav.ar button svg{
        transform: rotateZ(-180deg);
    }
    .nav .langSwitch{
        background-color: red;
    }
    .nav .langSwitch button{
        display: flex !important;
    }
}